.card
    .card__image
        img.card__image(src="/images/" + project.id + ".jpg", alt=project.name)
    .card__title
        h1.card__title__text=project.name
    .card__buttons 
        a.button.button--outline(href=project.video, target="_blank", rel="noopener noreferrer")
            | Ver vídeo
        button.vote-button.button( data-id=project.id, data-name=project.name)
            | Votar